body {
		background-color:   #333330;
		color: #4CAF50
		}

table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 25%;
				border: 1px solid white;
		}
tr td{
	border: 1px solid white;
}
h1 {
			font-size:  2.5em;
			text-align: center;
			}
h3 {
			font-size:  1.5em;
			text-align: center;
      text-decoration: underline
			}
h4 {
      text-align: center;
      text-decoration: underline
      			}

div.body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
	border:	1px solid #4CAF50;
  color: white
	}

.button {
  background-color: #4CAF50;
  border: 1px solid green;
  color: white;
  width: 100px;
  height: auto;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
  float: left;
  cursor: pointer;
}
ul.list1 {
    list-style-type: circle;
}
